<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title || "Face Swap App" %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="app-header">
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </header>

  <main>